* {
  font-family: 'Roboto Light', sans-serif; }

body {
  background: url(../img/bg.png); }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 16px;
  background-color: blue;
  color: white; }

.property-view .group tr:not(:first-child) .label {
  padding-left: 16px; }

td {
  padding: 4px 8px; }

.pie-chart {
  transform: rotate(-90deg);
  border-radius: 50%;
  background: lightgray;
  width: 25px;
  height: 25px;
  position: relative;
  margin: 0; }

.pie-chart svg {
  height: 100%;
  width: 100%;
  border-radius: 50%; }

.pie-chart .pie {
  line-height: 0;
  stroke-width: 100%;
  r: 50%;
  cx: 50%;
  cy: 50%;
  fill: none;
  transition: stroke-dasharray .3s ease, transform .3s ease;
  transform-origin: 50% 50% 0; }

.pie.success {
  stroke: #2BC64D; }

.pie.error {
  stroke: #FF4A37; }

.test-chart {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 50%; }
  .test-chart .value {
    z-index: 1;
    font-size: 10px;
    color: white; }
  .test-chart .pie-chart {
    position: absolute;
    left: 0;
    top: 0; }

.detail .status {
  color: #5B1EAC; }
  .detail .status.success {
    color: #2BC64D; }
  .detail .status.error {
    color: #FF4A37; }
